<section class="fixed w-full px-10 py-5 flex justify-between items-center backdrop-blur-md bg-black/5 z-50">
  <div class="flex items-center">
    <img src="../../../assets/logo.png" alt="logo taza de cafe" class="h-10">
  </div>
  <nav class="flex space-x-6">
    <a href="#principal" class="rounded-full px-5 py-2 cursor-pointer hover:bg-white/20 transition duration-300">Home</a>
    <a href="#cafes" class="rounded-full px-5 py-2 cursor-pointer hover:bg-white/20 transition duration-300">Cafés</a>
    <a href="#about" class="rounded-full px-5 py-2 cursor-pointer hover:bg-white/20 transition duration-300">About us</a>
    <a href="#contact" class="rounded-full px-5 py-2 cursor-pointer hover:bg-white/20 transition duration-300">Contact us</a>
  </nav>
</section>
