<section class="hero">
  <div class="hero-content">
    <h2>Exotic origins, unique flavors</h2>
    <p>
      Freshly harvested and roasted seeds across Ethiopia, Sao Paulo, and Colombia perfected with the V60 filtration method.
      Enjoy 11Grams’ tasty, gourmet brews at a café or in your home.
    </p>
    <a href="#" class="btn">Book Your Table Now</a>
  </div>

  <div class="categories">
    <h3>Explore Our Categories</h3>
    <div class="category-list">
      <div class="category">
        <img src="../../../assets/arabica.webp" alt="All Coffee">
        <p>Arabica</p>
      </div>
      <div class="category">
        <img src="../../../assets/libericp.webp" alt="Single Origin">
        <p>liberico</p>
      </div>
      <div class="category">
        <img src="../../../assets/robusta.webp" alt="Blend">
        <p>Robusta</p>
      </div>
      <div class="category">
        <img src="../../../assets/exelsa.webp" alt="Decaf">
        <p>Exelsa</p>
      </div>
    </div>
  </div>
</section>
