<section class="coffee-section flex flex-col items-center">
  <!-- Café Arabica -->
  <div class="coffee-item left">
    <img src="../../../assets/arabica.webp" alt="Arabica">
    <div class="coffee-text">
      <h2>Arabica</h2>
      <p>A smooth and aromatic coffee, with sweet notes and low acidity. Perfect for those who love a balanced coffee. Grown in the mountains of Brazil, this coffee is known for its superior quality and delicate flavor.</p>
    </div>
  </div>

  <!-- Café Liberico -->
  <div class="coffee-item right">
    <div class="coffee-text">
      <h2>Liberico</h2>
      <p>With a strong, woody flavor, Liberico coffee is a unique option for those looking for something different. Originating from West Africa, this coffee has a distinctive character that makes it ideal for more discerning palates.</p>
    </div>
    <img src="../../../assets/libericp.webp" alt="Liberico">
  </div>

  <!-- Café Robusta -->
  <div class="coffee-item left">
    <img src="../../../assets/robusta.webp" alt="Robusta">
    <div class="coffee-text">
      <h2>Robusta</h2>
      <p>Higher caffeine content and a more intense flavor, ideal for those who prefer a strong coffee. Mainly grown in Vietnam, this coffee is perfect for those who need an extra energy boost.</p>
    </div>
  </div>

  <!-- Café Excelsa -->
  <div class="coffee-item right">
    <div class="coffee-text">
      <h2>Excelsa</h2>
      <p>With a fruity and complex flavor profile, this coffee offers a unique experience in every cup. Originating from Southeast Asia, Excelsa coffee is valued for its rarity and exotic flavor.</p>
    </div>
    <img src="../../../assets/exelsa.webp" alt="Excelsa">
  </div>
</section>
